@charset "UTF-8";

/* header */
/* nav */
/* mainPhoto */
.p-mainPhoto__container{
position: relative;
width: 100%;
height: 400px;

}

.p-mainPhoto__list{
  position: absolute;
  top: 0;
  left: 0;
  animation: ChangeImage 10s infinite;
  opacity: 0;
}

/* .p-mainPhoto__list:nth-of-type(1) {
  animation: change-img-anim-first 30s infinite;
	animation-delay: 0s;
}
.p-mainPhoto__list:nth-of-type(2) {
	animation-delay: 10s;
}
.p-mainPhoto__list:nth-of-type(3) {
	animation-delay: 20s;
}

@keyframes change-img-anim-first{
  0%{ opacity: 1;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 0;}
  100%{ opacity: 0;}
}

@keyframes change-img-anim {
  0%{ opacity: 0;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 0;}
  100%{ opacity: 0;}
} */

/* openHour */
/* attention */
.p-attention{

}

.p-attention__container{
text-align: center;
border:5px solid #5d7dbf;
}

.p-attention__list{
color: red;
font-weight: bold;
}

.p-attention__list:nth-last-of-type(2){
  width: 200px;
  text-align: center;
  color: white;
  padding: 5px 27px;
  background-color: #5d7dbf;
  font-size: 80%;
}

.a:hover{
  cursor: pointer;
}

/* ピックアップ */

.p-pickup{
  background-color: #e0f1fc;
  padding: 70px 0;
}

.p-title{
  text-align: center;
}

.p-title__image{
  width: 40px;
  height: 40px;
}

.p-title__japanese{
  color: #535354;
}

.p-title__english{
  color: #a8a9a9;
}

/* ニュース */
/* イベント&スクール */
/* ブログ海遊館日記 */

/* 公式SNS */
.p-fishSchool{
  height: 100vh;
  background-size: cover;
  background-image: url(./assets/img/fishSchool.jpg);
}

/* その他 */

/* footer */

/* PC style */
@media screen and (min-width: 769px) {

/* header */
/* nav */

.p-nav__container{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    background-color: aqua;
}

.p-nav__icon{
width: 50px;
}

.p-navMiddle__container{
        display: flex;
    }
}

.p-footer__container{
  background-color: #5d7dbf;
}

/* mainPhoto */
/* openHour */
/* attention */
/* ピックアップ */
/* ニュース */
/* イベント&スクール */
/* ブログ海遊館日記 */
/* 公式SNS */
/* その他 */
/* footer */

  /* SP style */
@media screen and (max-width: 768px){
/* header */
/* nav */
/* mainPhoto */
/* openHour */
/* attention */
/* ピックアップ */
/* ニュース */
/* イベント&スクール */
/* ブログ海遊館日記 */
/* 公式SNS */
/* その他 */
/* footer */    
}

